<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
 .container {
			position: fixed;
			display:block;
            width: 100%;
            height: 100%;
            overflow: hidden;

        }
     form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    </style>

<script>
    function hide(){
        var button = document.getElementById("my-button");
        button.style.display = "none";
    }
</script>
</head>
<body>
    {% with msg = get_flashed_messages() %}   
      {% if msg %}
         <!-- {{ messages }} -->
         {{ msg }}
  
      {% endif %}
    {% endwith %}

    <div class="container">
        <img src="{{ url_for('static', filename='images/signup.jpg') }}" alt="img" style="width:100%;">

        <h1>You have reached the login page</h1>
        <form action="login_form"method='post'>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter your password" name="password" required><br><br>
    
    <button>submit</button>
</form>
</div>
</body>
</html>