<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .container {
			position: fixed;
			display:block;
            width: 100%;
            height: 100%;
            overflow: hidden;

        }
     form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    </style>
</head>
<body>
    <div class="container">
            <img src="{{ url_for('static', filename='images/login.jpg') }}" alt="img" style="width:100%;">
    
    <form action="signUp_form"method='post'>
    <h1>You have reached signup Page</h1>
    <h3>Enter your details here</h3>
    <label for="dname"><b> Display name</b></label>
    <input type="text" placeholder="Enter dispaly dname" name="dname" required><br><br>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>
    <label for="mail"><b>Email Id</b></label>
    <input type="text" placeholder="Enter your mail id" name="mail" required><br><br>
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="set your password" name="password" required><br><br>
        <input type="submit" value="Click to Enter ">
</form>
</div>
</body>
</html>